
.button {
  background-color: var(--button);
  color: var(--color-light-1);
  height: 42px;
  padding: 0 24px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  border: none;
  border-radius: 28px;
  overflow: hidden;
  cursor: pointer;
  width: fit-content;
}

.button:focus {
  outline-color: var(--button-outline);
}

.disabled {
  background: #aba7ad;;
}