
.card {
  max-width: 720px;
  min-width: 360px;
  border-radius: 32px;
  background: var(--primary);
  padding: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.author {
  font-size: 18px;
  color: var(--header-txt);
  text-decoration: none;
}

.date {
  color: var(--note-text);
  font-size: 14px;
}

.text {
  color: var(--txt);
  font-size: 14px;
  margin-top: 16px;
  line-height: 1.6;
}