.modal {
  background: var(--primary);
  border-radius: 32px;
}

.modal::backdrop {
  background: var(--overlay);
  backdrop-filter: blur(12px);
}

.content {
  padding: 20px;
  position: sticky;
  max-width: fit-content;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  background: var(--btn);
}

.close:hover {
  border-radius: 8px;
  transition: 0.3s;
}

.btnText::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: var(--button);
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
}

.btnText::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: var(--button);
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
}


.btnText {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}



