
.header {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.data {
  display: flex;
  flex-direction: column;
}

.message {
  /*max-width: 338px;*/
  /*max-height: 95px;*/
  font-size: 16px;
  padding: 12px;
  border-color: rgba(0,0,0,0.4);
}

.counter {
  text-align: right;
  color: rgba(0,0,0,0.6);
  margin-top: 8px;
  font-size: 14px;
}

.send {
  background-color: #007bfb;
  color: #fff;
  height: 42px;
  padding: 0 40px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  border: none;
  border-radius: 28px;
  overflow: hidden;
  cursor: pointer;
  max-width: 160px;
  margin-bottom: 12px
}