
.header {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: var(--header-txt);
}

.data {
  display: flex;
  flex-direction: column;
  max-width: 530px;
}

.message {
  max-width: 500px;
  max-height: 400px;
  font-size: 16px;
  padding: 12px;
  background: var(--primary);
  border-color: var(--textarea-border);
  color: var(--txt);
}

.messageError {
  border-color: var(--error);
}

.messageError:focus {
  outline-color: var(--error);
}

.counter {
  text-align: right;
  color: var(--note-text);
  margin-top: 8px;
  font-size: 14px;
}

.textInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 0 34px;
}

.error {
  font-size: 12px;
  color: var(--error);
}

