
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.primaryBg {
    background: var(--background);
}

.secondaryBg {
    background: var(--auth-bg);
}

