html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Ubuntu', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: var(--background);
}

main {
  position: relative;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

:root {
  --color-light-1: white;
  --color-light-2: #F6FBFD;
  --color-light-3: #f4f6fb;
  --color-light-4: rgb(239, 239, 239);
  --color-light-5: #BDBEBF;
  --color-light-6: #8c94a8;
  --color-dark-1: black;
  --color-dark-2: rgba(0,0,0,0.4);
  --color-dark-3: rgba(0,0,0,.68);
  --color-dark-4: rgba(12, 17, 19, 0.7);
  --color-dark-5: #22272B;
  --color-dark-6: rgba(40,45,60,.64);
  --color-dark-7: #373C40;
  --color-dark-8: #50545A;
  --color-dark-9: #6C7174;
  --color-dark-10: #868686;
  --color-bright: #007bfb;

  --background: var(--color-light-3);
  --primary: var(--color-light-1);
  --button: var(--color-bright);
  --header-txt: var(--color-dark-1);
  --txt: var(--color-dark-3);
  --note-text: var(--color-light-6);
  --textarea-border: var(--color-dark-2);
  --overlay: var(--color-dark-6);
  --btn: var(--color-light-4);
  --skeleton: var(--color-light-2);
  --skeleton-end: var(--color-light-4);
  --auth-bg: var(--primary);
  --switch-bg: var(--color-dark-5);
}

[data-user-color-scheme='dark'] {
  --background: var(--color-dark-5);
  --primary: var(--color-dark-7);
  --header-txt: var(--color-light-1);
  --txt: var(--color-light-5);
  --border: var(--color-light-2);
  --textarea-border: var(--color-dark-9);
  --overlay: var(--color-dark-4);
  --btn: var(--color-dark-8);
  --skeleton: var(--color-dark-8);
  --skeleton-end: var(--color-dark-10);
  --auth-bg: var(--background);
  --switch-bg: var(--color-light-3);
}

